<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PixelA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4BEE9B21DCD7E8700B0ECE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BEE9CC1DCD7E8800B0ECE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BEE9D71DCD7E8800B0ECE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
